@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family: "Inter";
    display: flex;
    justify-content: center;
    background-color: #fffdfa;
}

.container {
    width: 375px;
}

.header {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.logo {
    width: 41.6px;
    height: 27.5px;
    margin-top: 28px;
    margin-left: 16px;
}

.menu-icon {
    width: 40px;
    height: 17px;
    margin-top: 29px;
    margin-right: 16px;
}

.mobile-menu {
    width: 375px;
    height: 669px;
    position: absolute;
    margin-left: 119px;
    background-color: #fffdfa;
    z-index: 1;
    margin-top: -1000px;
}

.menu-background {
    width: 119px;
    height: 669px;
    position: absolute;
    top: 0;
    left: -119px;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    background-color: #00001a;
}

.full-menu {
    margin-top: 0;
}

.close {
    width: 30.4px;
    height: 30.4px;
    margin: 27.3px 20.8px 86.3px 204.8px;
}

ul {
    margin: 0 0 0 24px;
    padding: 0;
}

.mobile-menu li {
    width: 203px;
    height: 24px;
    font-size: 18px;
    line-height: 24px;
    color: #00001a;
    margin-bottom: 24px;
    list-style-type: none;
}

.mob-img {
    width: 343px;
    height: 300px;
    margin: 33px 16px 24px;
}

h1 {
    width: 343px;
    height: 120px;
    margin: auto;
    font-size: 40px;
    font-weight: 800;
    line-height: 40px;
    text-align: start;
    color: #00001a;
}

.wrapper p {
    width: 343px;
    height: 104px;
    margin: auto;
    font-size: 15px;
    line-height: 26px;
    text-align: start;
    color: #5e607a;
    margin-top: 16px;
}

button {
    width: 185px;
    height: 48px;
    margin: 24px 174px 64px 16px;
    padding: 13px 35px 11px 31px;
    background-color: #f15d51;
    border: none;
    font-size: 13px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 4.38px;
    color: #fffdfa;
}

.new {
    margin: 0 16px 64px;
    padding: 24px 20px 24px 21px;
    background-color: #00001a;
}

.new h2 {
    width: 70px;
    height: 32px;
    margin: 0 0 35px 0;
    font-size: 32px;
    font-weight: bold;
    line-height: 32px;
    color: #e9aa52;
}

.new h3 {
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
    text-align: left;
    color: #fffdfa;
    margin-bottom: 8px;
}

.new p {
    font-size: 15px;
    line-height: 26px;
    color: #c5c6ce;   
    margin: 0;  
}

.line {
    width: 302px;
    height: 1px;
    background-color: #5e607a;
    margin-top: 29px;
    margin-bottom: 31px;
}

.info {
    margin: 0 16px 81px;
}

.pcs h2, .laptops h2, .gaming h2 {
    font-size: 32px;
    font-weight: bold;
    line-height: 32px;
    color: #c5c6ce;
    margin: 0;
}

.pcs h3, .laptops h3, .gaming h3 {
    margin: 12px 0 9px;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    color: #00001a;
}

.pcs p, .laptops p, .gaming p {
    margin: 0;
    font-size: 15px;
    line-height: 26px;
    color: #5e607a;
}

.pcs, .laptops, .gaming {
    display: flex;
}

.pcs {
    margin-bottom: 33px;
}

.laptops {
    margin-bottom: 34px;
}

.pcs img {
    width: 100px;
    height: 129px;
    margin-right: 24px;
}

.laptops img {
    width: 100px;
    height: 127px;
    margin-right: 24px;
}

.gaming img {
    width: 99.7px;
    height: 127px;
    margin-right: 24px;
}

.comp-img, .comp-menu {
    display: none;
}

@media screen and (min-width:1440px) {
    .menu-icon, .mobile-menu, .mob-img {
        display: none;
    }
    
    .comp-img, .comp-menu {
        display: block;
    }

    .logo {
        width: 64.1px;
        height: 39.9px;
        margin: 0;
    }

    li {
        margin: 0 40px 0 0;
        font-size: 15.4px;
        line-height: 26px;
        color: #5e607a;   
        list-style-type: none;
        display: flex;
        align-items: end;
        cursor: pointer;
    }

    li:hover {
        color: #f15d51;
    }

    .categories {
        margin-right: 0;
    }

    .container {
        width: 1110px;
        padding: 89px 165px 130px;
    }
    
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 56px;
    }

    ul { 
        display: flex;
        align-items: center;
        margin: 0;
    }

    .comp-img {
        width: 730px;
        height: 300px;
        grid-column: 1 / 3;
    }

    .content {
        width: 1110px;
        height: 551px;
        display: grid;
        grid-template-columns: 365px 365px;
        grid-template-rows: 300px 181px;
        gap: 30px 15px;
    }

    .wrapper {
        display: flex;
    }

    .wrapper-h1 {
        grid-column: 1;
        grid-row: 2;
    }

    .read-more {
        width: 350px;
        height: 181px;
        grid-column: 2 / 3;
    }

    h1 {
        width: 350px;
        height: 182px;
        font-size: 56px;
        font-weight: 800;
        line-height: 56px;
        text-align: start;
    }

    .wrapper p {
        width: 350px;
        margin: 0 0 0 30px;
    }

    button {
        margin: 29px 0 0 30px;
        cursor: pointer;
    }

    button:hover {
        background-color: #00001a;
        color: #fffdfa;
    }

    .new {
        margin: 0;
        width: 302px;
        height: 448px;
        padding: 32px 24px 31px;
        grid-row: 1 / 4 ;
        grid-column: 3 / 4;
    }

    .new h2 {
        width: 88px;
        height: 40px;
        margin: 0 0 34px 0;
        font-size: 40px;
        line-height: 40px;  
    }

    .new h3 {
        cursor: pointer;
    }

    .new h3:hover {
        color: #e9aa52;
    }

    .info {
        display: flex;
        margin: 42px 0 0 0;
    }

    .info h3 {
        cursor: pointer;
    }

    .info h3:hover {
       color: #f15d51;
    }

    .pcs, .leptops {
        margin-right: 30px;
    }
    
    .pcs {
        width: 350px;
        margin-bottom: 0;
    }
    
    .laptops {
        width: 350px;
        margin-bottom: 0;
    }

    .gaming {
        width: 350px;
        margin-left: 30px;
    }
    
    .pcs img {
        width: 100px;
        height: 129px;
        margin-right: 24px;
    }
    
    .laptops img {
        width: 100px;
        height: 127px;
        margin-right: 24px;
    }
    
    .gaming img {
        width: 99.7px;
        height: 127px;
        margin-right: 24px;
    }
}